{% extends 'base.html' %}

{% block title %}
    Details about {{ auto_details.id }}
{% endblock %}


{% block content %}
<!-- Створення таблиці з даними про конкретний автомобіль. -->
    <div class="container">
        <!-- Створення заголовку. -->
        <h1 class="mt-5">Auto Details {{ auto_details.id }}</h1>

        <table class="table table-striped mt-3">
            <!-- Створення назв стовпців. -->
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Model name</th>
                    <th>Engine</th>
                    <th>Type of Fuel</th>
    
                </tr>
            </thead>
            
            <!-- Заповнення стовпців даними. -->
            <tbody>
                <tr>
                    <td>{{ auto_details.id }}</td>
                    <td>{{ auto_details.model_name }}</td>
                    <td>{{ auto_details.engine }}</td>
                    <td>{{ auto_details.type_of_fuel }}</td>
                </tr>
            </tbody>
        </table>

        <!-- Створення кнопки для повернення на сторінку зі всіма номерами машин. -->
        <a href="/view_all_autos_list" class="btn btn-info btn-sm">Back to List</a>


    </div>

{% endblock %}